<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 정보 변경</title>
    <link rel="stylesheet" href="../../static/mypage/mypage_update.css">
</head>
<body>
<div class="navigation">
    <div class="homepage">홈페이지</div>
</div>
<div class="headline">
    <div class="page-title">회원 정보 변경</div>
    <div class="welcome-message">환영합니다 000님</div>
</div>
<div class="info-section">
    <div class="info-item">아이디 : 000</div>
    <div class="info-item">프로필 이미지 변경</div>
<!--
    <div class="attachment-button">첨부파일</div>
-->
    <div class="info-item">새 비밀 번호</div>
    <div class="input-field">비밀번호를 입력하세요</div>
    <div class="info-item">새 비밀번호 확인</div>
    <div class="input-field">비밀번호를 입력하세요</div>
</div>
<div class="profile-picture">
    <img src="../../static/mypage/img/1.png" alt="Profile Image" />
</div>
<div class="button">
    <div class="submit-button">수정하기</div>
</div>
</body>
</html>
