<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
    <link rel="stylesheet" href="../../static/mypage/mypage.css">
</head>
<body>
<div class="navigation">
    <div class="homepage">홈페이지</div>
</div>
<div class="headline">
    <div class="mypage-title">마이페이지</div>
    <div class="welcome-message">환영합니다 000님</div>
</div>
<div class="options">
    <div class="option" style="left: 78px;">작성 글 보러가기</div>
    <div class="option" style="left: 226px;">작성 댓글 보러가기</div>
    <div class="option" style="left: 393px;">좋아요 보러가기</div>
</div>
<div class="info-change">
    <div class="info-title">--------- 정보 변경 ---------</div>
    <div class="info-item" onclick="location.href='mypage_update.html'">회원 수정</div>
    <div class="info-item" onclick="location.href='mypage_delete.html'">회원 탈퇴</div>
</div>
<div class="profile-picture">
    <img src="../../static/mypage/img/1.png" alt="Profile Image" />
</div>
<div class="button">
    <div class="back-button">뒤로가기</div>
</div>
</body>
</html>
