<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 탈퇴</title>
    <link rel="stylesheet" href="../../static/mypage/mypage_delete.css">
</head>
<body>
<div class="navigation">
    <div class="homepage">홈페이지</div>
</div>
<div class="headline">
    <div class="page-title">회원 탈퇴</div>
    <h1>----------------------------------------------</h1>
</div>
<div class="info-section">
    <div class="info-title">회원 탈퇴 안내</div>
    <div class="info-text">고객님께서 회원 탈퇴를 원하신다니 저희 홈페이지의 서비스가 많이 부족하고 미흡했나 봅니다. 불편하셨던 점이나 불만사항을 알려주시면 적극 반영해서 고객님의 불편함을 해결해 드리도록 노력하겠습니다.</div>
    <div class="info-text">아울러 회원 탈퇴시의 아래 사항을 숙지하시기 바랍니다.</div>
    <div class="info-text">1. 탈퇴 후에는 모든 회원 정보 및 활동 내역이 삭제되며, 복구가 불가능합니다.</div>
    <div class="info-text">2. 동일한 이메일 주소로 재가입을 원하실 경우, 새로운 계정을 생성해야 합니다.</div>
    <div class="info-text">3. 탈퇴와 관련된 추가 문의 사항이 있으시면 고객 센터[ team@policyboard.com]로 연락해 주시기 바랍니다.</div>
</div>
<div class="input-section">
    <div class="input-title">현재 비밀번호 입력</div>
    <div class="input-field">
        <input type="password" placeholder="비밀번호를 입력하세요">
    </div>
</div>
<div class="profile-picture">
    <img src="../../static/mypage/img/1.png" alt="Profile Image" />
</div>
<div class="button">
    <div class="submit-button">탈퇴하기</div>
</div>
</body>
</html>
