<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/boardcss/board.css}" />
</head>
<body>
<div class="c_header">
<form action="/board/insert" method="post">
    <h1>글 제목 : <input type="text" name="title"/></h1>
    <h3>url : <input type="text" name="url"/></h3>
    <h3>일정 : <!--<input type="text" name="start_time"/>~<input type="text" name="start_time"/></h3>-->
    <h3>상태 : <input type="text" name="status"/></h3>


     내용 :<br/>
        <textarea name="content">dd</textarea>


    <button type="submit">글쓰기</button>
<input type="hidden" name="author" value="user1">

</form>
</div>

</body>
</html>