<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>글 작성</title>
    <link rel="stylesheet" th:href="@{/boardcss/createboard.css}" />
    <!-- Load CKEditor from CDN -->
    <script src="https://cdn.ckeditor.com/ckeditor5/41.4.2/classic/ckeditor.js"></script>
</head>
<body>
<div class="c_header2">
    <form action="/board/insert" method="post">
        <h1>글 제목 : <input type="text" name="title"/></h1>
        <h3>url : <input type="text" name="url"/></h3>
        <h3>지역 :
            <select name="location">
                <option value="무관">무관</option>
                <option value="다수">다수</option>
                <option value="서울">서울</option>
                <option value="인천/경기">인천/경기</option>
                <option value="충청도">충청도</option>
                <option value="경상도">경상도</option>
                <option value="전라도">전라도</option>
                <option value="제주도">제주도</option>
            </select>
        </h3>
        <h3>성별 :
            <select name="gender">
                <option value="남성">남성</option>
                <option value="여성">여성</option>
                <option value="무관">무관</option>
            </select>
        </h3>
        <h3>일정 : <input type="text" name="start_time"/> ~ <input type="text" name="end_time"/></h3>
        <h3>상태 :
            <select name="status">
                <option value="진행예정">진행예정</option>
                <option value="진행중">진행중</option>
                <option value="종료">종료</option>
            </select>
        </h3>
        <textarea name="content" id="editor"></textarea>
        <button type="submit">글쓰기</button>
        <input type="hidden" name="author" value="user1">
    </form>
</div>

<!-- Initialize CKEditor -->
<script>
    ClassicEditor
        .create(document.querySelector('#editor'), {
            ckfinder: {
                uploadUrl: '/board/ckfinder/connector',
                options: {
                    resourceType: 'Images'
                }
            },
        })
        .then(editor => {
            console.log('Editor was initialized', editor);
        })
        .catch(error => {
            console.error('There was a problem initializing the editor.', error);
        });
</script>
</body>
</html>
