<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/boardcss/board.css}" />
</head>
<body>
<form action="/board/update" method="post">
<div class="c_header">

<h1>글 제목 : <input type="text" th:value="${post.title}" name="title"/></h1>
<h3>작성자 : <span th:text="${post.author}"></span></h3>
<h3>url : <input type="text" th:value="${post.url}" name="url"/></h3>
    <h3>일정 : <span th:text="${post.start_time}"></span> ~ <span th:text="${post.end_time}"></span></h3>
<h3>상태 : <input type="text" name="status" th:value="${post.status}"/></h3>
    <span th:text="${post.post_id}"></span>
</div>
<div class="c_content">

    <label>컨텐츠</label>
    <textarea th:text="${post.content}" name="content"></textarea>


</div>


    <input type="hidden" name="post_id" th:value="${post.post_id}">
    <input type="hidden" name="author" th:value="${post.author}">


    <div class="c_notice">
        <input type="submit" value="수정"></input>
    </div>
</form>


</body>
</html>