<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/boardcss/board.css}" />
</head>
<body>
<form action="/board/board" method="get">
<div class="c_header">

<h1>글 제목 : <input type="text"/></h1>
<h3>작성자 : </h3>
<h3>url : <input type="text"/></h3>
<h3>일정 : <input type="text"/></h3>
<h3>상태 : <input type="text"/></h3>
</div>
<div class="c_content">

    <label>컨텐츠</label>

</div>
    <div class="c_notice">
    <button type="submit">수정</button>
    </div>
</form>


</body>
</html>