<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register Page</title>
    <link rel="stylesheet" th:href="@{/signup.css}" href="/signup.css" />
</head>
<body>
<div class="container">
    <div class="register-form">
        <h2>SignUp!</h2>
        <h3>Create your account</h3>
        <p>아래에 정보를 입력해 주세요.</p>

        <form th:action="@{/signup/register}" method="post">
            <label for="nickname">Nickname</label>
            <input type="text" id="nickname" name="nickname" placeholder="Enter your nickname" required>

            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Enter your email" required>

            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter your Password" required>

            <label for="confirm-password">Confirm Password</label>
            <input type="password" id="confirm-password" name="confirm-password" placeholder="Confirm your Password" required>

            <button type="submit">Register</button>
            <div class="login">
                <p>Already have an account? <a href="/login">Login</a></p>
            </div>
        </form>
    </div>
    <div class="illustration">
        <img th:src="@{'/1.png'}" alt="img"/>

    </div>
    <div th:if="${signupError}" class="error">
        <p th:text="${signupError}"></p>
        <div class="error">
            <p>회원가입에 실패했습니다. 다시 시도해주세요.</p>
        </div>
    </div>
</div>
</body>
</html>
